/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://static.vecteezy.com/system/resources/previews/004/585/326/original/banking-building-business-finance-management-low-poly-wireframe-illustration-isolated-background-free-vector.jpg');
    /*Replace with your image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 300px;
}

/*Navbar Styles */
nav {
    background-color: #1a1a1a;
    color: #ffffff;
    font-family: Arial, sans-serif;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    text-align: right; /* Align the content to the right */
  }
  
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
nav ul {
    list-style: none; /* Remove default bullet points for list items */
    margin: 0;
    padding: 0;
  }
  
nav li {
    display: inline-block; /* Display menu items horizontally */
    margin-right: 20px; /* Add spacing between menu items */
  }
  
nav a {
    text-decoration: none; /* Remove underlines from links */
    color: #ffffff; /* Link color */
    transition: color 0.3s; /* Smooth color transition on hover */
  
    /* Optional: Add hover effect */
    &:hover {
      color: #ff9900; /* Change color on hover */
    }
  }
  

h1 {
    text-align: center;
    color: #ffffff;
}

h2 {
    color: #ffffff;
}

label {
    color: #ffffff;
}

/* Content container */
.content {
    padding: 20px;
    background-color:rgba(0, 0, 0, 0.1);
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    margin: 50px auto;
    max-width: 600px;
    border-radius: 8px;
}

/* Form container */
.container {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="number"],
input[type="submit"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 4px;
    color: #333;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/* Responsive design */
@media (max-width: 600px) {
    .content {
        margin: 20px auto;
        padding: 10px;
    }

    input[type="number"],
    input[type="submit"] {
        padding: 8px;
        font-size: 14px;
    }
}

